#Part 1

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/naramendia/portfolio/main/data/Queried_Data/JustKoreaGDP.csv'
df = pd.read_csv(url)
df.head(5)

   Year           GDP
0  1960  3.958191e+09
1  1961  2.417558e+09
2  1962  2.814319e+09
3  1963  3.988785e+09
4  1964  3.458939e+09

In [3]:
df.head()

   Year           GDP
0  1960  3.958191e+09
1  1961  2.417558e+09
2  1962  2.814319e+09
3  1963  3.988785e+09
4  1964  3.458939e+09

#Part 2

In [4]:
df.columns

Index(['Year', 'GDP'], dtype='object')

In [5]:
df.dtypes

Year      int64
GDP     float64
dtype: object

#Part 3

In [6]:
df['GDPg'] = df["GDP"].pct_change(1)
df.head()

   Year           GDP      GDPg
0  1960  3.958191e+09       NaN
1  1961  2.417558e+09 -0.389226
2  1962  2.814319e+09  0.164116
3  1963  3.988785e+09  0.417318
4  1964  3.458939e+09 -0.132834

In [7]:
df = df.dropna()
df.head()

   Year           GDP      GDPg
1  1961  2.417558e+09 -0.389226
2  1962  2.814319e+09  0.164116
3  1963  3.988785e+09  0.417318
4  1964  3.458939e+09 -0.132834
5  1965  3.120833e+09 -0.097748

In [8]:
cut = 0

In [9]:
df['Positiveg'] = df['GDPg'].apply(lambda x: 1 if x>= cut else 0)
df.head()

   Year           GDP      GDPg  Positiveg
1  1961  2.417558e+09 -0.389226          0
2  1962  2.814319e+09  0.164116          1
3  1963  3.988785e+09  0.417318          1
4  1964  3.458939e+09 -0.132834          0
5  1965  3.120833e+09 -0.097748          0

#Part 4

In [10]:
df['GDPg_past'] =df['GDPg'].shift(1)
df.head()

   Year           GDP      GDPg  Positiveg  GDPg_past
1  1961  2.417558e+09 -0.389226          0        NaN
2  1962  2.814319e+09  0.164116          1  -0.389226
3  1963  3.988785e+09  0.417318          1   0.164116
4  1964  3.458939e+09 -0.132834          0   0.417318
5  1965  3.120833e+09 -0.097748          0  -0.132834

In [11]:
window = 10

In [12]:
df['GDPg_past_ma10']=df['GDPg_past'].rolling(window=window,min_periods=1).mean()
df.head(20)

    Year           GDP      GDPg  Positiveg  GDPg_past  GDPg_past_ma10
1   1961  2.417558e+09 -0.389226          0        NaN             NaN
2   1962  2.814319e+09  0.164116          1  -0.389226       -0.389226
3   1963  3.988785e+09  0.417318          1   0.164116       -0.112555
4   1964  3.458939e+09 -0.132834          0   0.417318        0.064069
5   1965  3.120833e+09 -0.097748          0  -0.132834        0.014844
6   1966  3.928908e+09  0.258929          1  -0.097748       -0.007675
7   1967  4.855907e+09  0.235943          1   0.258929        0.036759
8   1968  6.119284e+09  0.260173          1   0.235943        0.065214
9   1969  7.678581e+09  0.254817          1   0.260173        0.089584
10  1970  9.005023e+09  0.172746          1   0.254817        0.107943
11  1971  9.903500e+09  0.099775          1   0.172746        0.114423
12  1972  1.086233e+10  0.096817          1   0.099775        0.163324
13  1973  1.387653e+10  0.277491          1   0.096817        0.156594
14  1974  1.954409e+10  0.408428          1   0.277491        0.142611
15  1975  2.178430e+10  0.114623          1   0.408428        0.196737
16  1976  2.990248e+10  0.372662          1   0.114623        0.217974
17  1977  3.844649e+10  0.285729          1   0.372662        0.229348
18  1978  5.197211e+10  0.351804          1   0.285729        0.234326
19  1979  6.694690e+10  0.288131          1   0.351804        0.243489
20  1980  6.539865e+10 -0.023127          0   0.288131        0.246821

#Part 5

In [13]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
for train_idx, test_idx in tss.split(df):
  pass

train_df = df.filter(items=train_idx,axis=0)
test_df = df.filter(items=test_idx,axis=0)

In [14]:
train_df.head()

   Year           GDP      GDPg  Positiveg  GDPg_past  GDPg_past_ma10
1  1961  2.417558e+09 -0.389226          0        NaN             NaN
2  1962  2.814319e+09  0.164116          1  -0.389226       -0.389226
3  1963  3.988785e+09  0.417318          1   0.164116       -0.112555
4  1964  3.458939e+09 -0.132834          0   0.417318        0.064069
5  1965  3.120833e+09 -0.097748          0  -0.132834        0.014844

In [15]:
test_df.head()

    Year           GDP      GDPg  Positiveg  GDPg_past  GDPg_past_ma10
51  2011  1.253220e+12  0.095405          1   0.212013        0.076993
52  2012  1.278430e+12  0.020116          1   0.095405        0.091483
53  2013  1.370800e+12  0.072253          1   0.020116        0.078962
54  2014  1.484320e+12  0.082813          1   0.072253        0.074156
55  2015  1.465770e+12 -0.012497          0   0.082813        0.069564

In [16]:
df_C_train = train_df[["GDPg","GDPg_past_ma10"]]
df_C_test = test_df[["GDPg","GDPg_past_ma10"]]

In [17]:
df_C_train = train_df[["GDPg","GDPg_past_ma10"]]
df_C_test = test_df[["GDPg","GDPg_past_ma10"]]

#Part 6

classification

In [18]:
cols_C = ['Positiveg','GDPg_past_ma10']

In [19]:
df_C_train = train_df[cols_C]
df_C_test = test_df[cols_C]

In [20]:
df_C_train.head()

   Positiveg  GDPg_past_ma10
1          0             NaN
2          1       -0.389226
3          1       -0.112555
4          0        0.064069
5          0        0.014844

In [21]:
df_C_train.to_csv('Classification_Train.csv')

In [22]:
df_C_test.head()

    Positiveg  GDPg_past_ma10
51          1        0.076993
52          1        0.091483
53          1        0.078962
54          1        0.074156
55          0        0.069564

In [23]:
df_C_test.to_csv('Classification_Test.csv')

regression

In [24]:
cols_R = ['GDPg','GDPg_past_ma10']

In [25]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

In [26]:
df_R_train.head()

       GDPg  GDPg_past_ma10
1 -0.389226             NaN
2  0.164116       -0.389226
3  0.417318       -0.112555
4 -0.132834        0.064069
5 -0.097748        0.014844

In [27]:
df_R_train.to_csv('Regression_Train.csv')

In [28]:
df_R_test.head()

        GDPg  GDPg_past_ma10
51  0.095405        0.076993
52  0.020116        0.091483
53  0.072253        0.078962
54  0.082813        0.074156
55 -0.012497        0.069564

In [29]:
df_R_test.to_csv('Regression_Test.csv')